*{
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: radial-gradient(#303a4d, #1b2029);
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

main h1{
    color: #8880fe;
    font-size: 3rem;
    margin-bottom: 15px;
    text-align: center;
}

main.social-media{
    display: flex;
    align-content: center;
}

main .social-media a{
    text-decoration: none;
}

main .social-media img{
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img{
    margin-left: 0;
}

main .alternative{
    margin-top: 1rem;
}

main .alternative span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

main .alternative span::before, main .alternative span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

main .alternative span::after{
    left: 50px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    align-items: center;
}

.fas{
    font-size: 30px;
    margin-right: 10px;
    color: #5952d4;
}

main form input{    
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(166, 166, 166);
    border-bottom: 2px solid #040b188f;;
    background: none;
    font-size: 20px;
}

main form input:hover{
    border-bottom: 2px solid #5952d4;
    transition: all .3s ease-in-out;
}

main form input:focus{
    border-bottom: 2px solid #5952d4;
}

main form input::placeholder{
    color: #040b188f;
}

main form input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #6c63ff;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    color: white;
    
}

main form input[type="submit"]:hover{
    background: #5952d4;
    box-shadow: 3px, 3px;
    
}

section.images{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
    width: 50vw;
}

section.images img{
    width: 100%;
}

section.images .circle{    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(#8782f3, #292662);
    clip-path: circle(55% at 100% 100%);
    z-index: -1;
}

@media (min-width: 1500px){
    section.images .circle{
        transition: all .3s ease-in-out;
        clip-path: circle(55% at 100% 100%);
    }
}

@media (max-width: 1500px){
    section.images .circle{
        transition: all .3s ease-in-out;
        clip-path: circle(52% at 100% 100%);
    }
}

@media (max-width: 1300px){
    section.images .circle{
        transition: all .3s ease-in-out;
        clip-path: circle(49% at 100% 100%);
    }
}

@media (max-width: 1100px){
    section.images .circle{
        transition: all .3s ease-in-out;
        clip-path: circle(46% at 100% 100%);
    }
}

@media (max-width: 950px){
    section.images{
        display: none;
        visibility: hidden;
    }

    main{
        width: 100vw;
    }
}

@media(max-width: 420px){
    main h1{        
        display: flex;
        justify-content: center;
        margin-bottom: 20px;                
    }
}

@media(max-width: 411px){
    main h1{
        font-size: 2.5rem;               
    }
}

@media(max-width: 320px){
    .fas{
        display: none;
        visibility: hidden;
    }
}